@import 'styles/_utile';

.button {
  @include flexbox;
  @include justify-content(flex-end);
  margin-bottom: $gutter;
}

.box {
  overflow: auto;
  height: 217px;
  padding-bottom: $gutter / 2;

  li {
    margin-bottom: $gutter / 2;
  }

  input[type='text'][readonly] {
    background-color: $white;
  }
}
