@import 'styles/_utile';

.wrapper {
  position: relative;

  &.show {
    z-index: 10;
  }
}

.text {
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 100;
  min-width: max-content;
  border: 1px solid map-get($default, border);
  border-radius: $borderRadius;
  background-color: $white;
  @include box-shadow(0 4px 8px 0 rgba($black, 0.1));

  &.show {
    display: block;
  }

  .arrow {
    position: absolute;
    width: 12px;
    height: 6px;

    &:before,
    &:after {
      position: absolute;
      border-style: solid;
      border-color: transparent;
      content: '';
    }
  }

  &[data-position^='top'] {
    bottom: 100%;
    left: 50%;
    margin-bottom: 12px;
    @include transform(translateX(-50%));

    .arrow {
      bottom: -7px;
      left: 50%;
      margin-left: -6px;

      &:before {
        bottom: 0;
        border-width: 6px 6px 0;
        border-top-color: map-get($default, border);
      }

      &:after {
        bottom: 1px;
        border-width: 6px 6px 0;
        border-top-color: $white;
      }
    }
  }

  &[data-position^='bottom'] {
    top: 100%;
    left: 50%;
    margin-top: 12px;
    @include transform(translateX(-50%));

    .arrow {
      top: -7px;
      left: 50%;
      margin-left: -6px;

      &:before {
        top: 0;
        border-width: 0 6px 6px;
        border-bottom-color: map-get($default, border);
      }

      &:after {
        top: 1px;
        border-width: 0 6px 6px;
        border-bottom-color: $white;
      }
    }
  }

  &[data-position^='left'] {
    top: 50%;
    right: 100%;
    margin-right: 12px;
    @include transform(translateY(-50%));

    .arrow {
      top: 50%;
      right: -7px;
      margin-top: -6px;

      &:before {
        right: 0;
        border-width: 6px 0 6px 6px;
        border-left-color: map-get($default, border);
      }

      &:after {
        right: 1px;
        border-width: 6px 0 6px 6px;
        border-left-color: $white;
      }
    }
  }

  &[data-position^='right'] {
    top: 50%;
    left: 100%;
    margin-left: 12px;
    @include transform(translateY(-50%));

    .arrow {
      top: 50%;
      left: -7px;
      margin-top: -6px;

      &:before {
        left: 0;
        border-width: 6px 6px 6px 0;
        border-right-color: map-get($default, border);
      }

      &:after {
        left: 1px;
        border-width: 6px 6px 6px 0;
        border-right-color: $white;
      }
    }
  }
}

.head {
  @include flexbox;
  padding: $gutter $gutter 0;
  border-radius: $borderRadius $borderRadius 0 0;

  .title {
    margin-right: $gutter;
    white-space: nowrap;
  }

  .close {
    width: 19px;
    height: 19px;
    margin-left: auto;
  }
}

.body {
  padding: $gutter;
  border-radius: 0 0 $borderRadius $borderRadius;
}
