@import 'styles/_utile';

$height: 43px;

.wrapper {
  overflow: hidden;
  height: $height;
  margin-bottom: $gutter;
  @include box-shadow(0 -1px 0 map-get($default, border) inset);
}

.inner {
  @include flexbox;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 50px;
  scroll-behavior: smooth;

  ul[role='tablist'] {
    @include flexbox;
    margin-right: $gutter;
  }
}

.tool {
  @include flexbox;
  margin-left: auto;
}

.tab[aria-selected] {
  display: block;
  height: $height;
  padding: $gutter + 1 $gutter $gutter - 1;
  border-bottom: 2px solid transparent;
  font-size: $htmlFontSize;
  color: $muted;
  outline: 0 none;
  white-space: nowrap;

  &[aria-selected='true'] {
    position: relative;
    border-bottom-color: map-get($slate, fill);
    font-weight: $fontWeightBold;
    color: map-get($slate, fill);
  }
}
