@import 'styles/_utile';

.row {
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
  @include clearfix;
}

.article {
  display: block;
  display: flow-root;
  overflow: hidden;
  max-width: 100%;
  @include gutter($gutter);
}
