@import 'styles/_utile';

.wrapper {
  overflow: auto;

  table {
    margin-top: -$gutter;
    border-collapse: separate;
    border-spacing: 0 $gutter;
  }

  td {
    padding: 7px 14px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #607d8b;
    background-color: #eceff1;
    text-align: center;

    &:first-child {
      border-left-width: 1px;
      border-radius: $borderRadius 0 0 $borderRadius;
    }

    &:last-child {
      border-right-width: 1px;
      border-radius: 0 $borderRadius $borderRadius 0;
    }

    &.empty {
      border-color: transparent;
      background-color: $white;
    }
  }

  tr {
    margin-bottom: $gutter;
  }
}

.handle {
  cursor: move;
}

.ghost {
  @include opacity(0);
}

.remove {
  margin: -7px -14px;
  padding: 7px 14px;
  outline: 0 none;
}

@include respond-to(md) {
  .wrapper {
    td {
      white-space: nowrap;
    }
  }
}
