@import 'styles/_utile';

.group {
  @include flexbox(inline-flex);
  overflow: hidden;
  position: relative;
  margin-bottom: $gutter;
  border: 1px solid map-get($default, border);
  border-radius: $borderRadius;
  vertical-align: top;
}

[class='inp-group'] {
  .group {
    margin-bottom: 0;
    margin-right: -1px;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }

    &:last-child {
      margin-right: 0;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }
}

.button {
  display: block;
  position: relative;
  z-index: 1;
  height: 33px;
  padding: 7px 14px;
  background-color: map-get($default, fill);
  text-align: center;
  white-space: nowrap;
  @include box-shadow(-1px -1px 2px 1px rgba(0, 0, 0, 0.05) inset);

  &:hover {
    @include box-shadow(0 0 0 35px rgba(0, 0, 0, 0.05) inset);
  }
}

.label {
  overflow: hidden;
  float: left;
  position: relative;
  border-right: 1px solid map-get($default, border);
  cursor: pointer;

  &:last-child {
    border-right: 0 none;
  }
}

.input {
  @include hidden-input;

  &:checked + .button {
    font-weight: $fontWeightBold;
    background-color: map-get($slate, fill);
    color: $white;
    @include box-shadow(1px 1px 2px 1px rgba(0, 0, 0, 0.05) inset);

    &[disabled]{
      @include palette($disabled);
      cursor: not-allowed;
    }
  }
}
