@import 'styles/_utile';

.wrap {
  @include flexbox;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  height: 236px;
  margin-bottom: $gutter;
}

.label {
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
  border: 1px solid map-get($default, border);
  border-radius: $borderRadius;
  background: map-get($default, fill);
  @include transition(all ease-in-out 0.15s);

  &:hover {
    @include box-shadow(0 0 0 236px rgba(0, 0, 0, 0.05) inset);
  }

  input {
    @include hidden-input;
  }

  i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 35px;
    margin: auto;
    font-size: 35px;
    color: $muted;
    text-align: center;
  }

  .uploaded & {
    display: none;
  }
}

.image {
  display: none;
  @include flex(1, 1, 0%);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid map-get($default, border);
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  background: map-get($default, fill);
  @include box-shadow(0 0 0 202px rgba(0, 0, 0, 0.05) inset);

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .uploaded & {
    @include flexbox;
  }
}

.button {
  display: none;
  width: 100%;
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .uploaded & {
    display: block;
  }
}
